/out/production/DogAgility/Handler.class
/out/production/DogAgility/Dog.class
/out/production/DogAgility/AgilityMain.class
/DogAgility.iml

# Default ignored files
/workspace.xml

*.class
*.iml

/*.log

*.ctxt

*.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.idea
/.gitignore
/.name
/../out/production/DogAgility/AgilityMain.class
/../src/AgilityMain.java
/../out/production/DogAgility/Dog.class
/../src/Dog.java
/../DogAgility.iml
/../out/production/DogAgility/Handler.class
/../src/Handler.java
/misc.xml
/modules.xml
/vcs.xml

